.menu {
  width: 600px; }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; }
    .menu ul li {
      display: inline; }
      .menu ul li:nth-child(2):before {
        content: " \2219 ";
        color: green;
        font-size: 20px;
        margin-right: 5px; }
      .menu ul li:nth-child(3):before {
        content: " \2219 ";
        color: red;
        font-size: 20px;
        margin-right: 5px; }
      .menu ul li:nth-child(4):before {
        content: " \2219 ";
        color: orange;
        font-size: 20px;
        margin-right: 5px; }
      .menu ul li a {
        color: black;
        font-family: sans-serif;
        text-transform: uppercase;
        text-decoration: none; }
