.menu {
  width: 500px; }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .menu ul li {
      display: inline;
      padding-left: 16px; }
      .menu ul li:before {
        content: ".";
        color: red;
        font-size: 50px; }
      .menu ul li:nth-child(2) {
        color: pink; }
      .menu ul li a {
        color: black;
        font-family: sans-serif; }
