.container {
  border: solid 1px black;
  width: 300px; }
  .container .projecten {
    margin: 25px;
    background-color: blue; }
    .container .projecten h3 {
      color: white; }
    .container .projecten p {
      color: white;
      display: inline-block;
      text-align: center; }
  .container .samenwerken {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
