h1 {
  font-family: sans-serif;
  text-align: center; }

p {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  font-family: sans-serif; }

.container {
  width: 400px;
  height: 350px;
  border: 1px solid black; }
  .container .projects {
    border: 1px solid #1f7e9a;
    background-color: #1f7e9a;
    width: 350px;
    height: 150px;
    margin: auto;
    margin-top: 15px; }
    .container .projects .more {
      border: 1px solid white;
      border-radius: 25px;
      width: 300px;
      height: 100px;
      margin: auto;
      margin-top: 25px; }
      .container .projects .more .up {
        border: 1px solid white;
        background-color: white;
        border-radius: 25px 25px 0 0;
        height: 50px; }
      .container .projects .more .down {
        float: left;
        height: 55px;
        color: white; }
        .container .projects .more .down .left {
          width: 148px;
          height: 49px;
          border-right: 1px solid white;
          position: relative;
          float: left;
          margin: auto; }
        .container .projects .more .down .right {
          width: 148px;
          border: none;
          position: relative;
          float: right;
          margin: auto; }
  .container .work {
    width: 300px;
    margin: auto; }
  .container .rounded {
    background-color: #1f7e9a;
    height: 30px;
    width: 200px;
    margin: auto;
    border-radius: 25px;
    color: white;
    margin-top: 1px; }
